@import "bourbon";

@import "utils/variables";
@import "utils/mixins";
@import "utils/helpers";

@import "atoms/animation";
@import "atoms/typography";
@import "atoms/link";
@import "atoms/form";
@import "atoms/button";
@import "atoms/todo-item";
@import "atoms/alert";

@import "molecules/todo-list";
@import "molecules/todo-header";
@import "molecules/add-todo";
@import "molecules/todo-footer";

@import "organisms/modal";

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	background-color: $color--mist;
	color: $color--base;
	font-family: $main-font;
	font-size: 100%;
	line-height: 1.5em;
}