// Fonts
$main-font: 'Open Sans', Helvetica, Arial, sans-serif;


// Typography
$base-font-size: 14px;


// Colors
$color--base: #313131;
$color--gray: #b7b6b6;
$color--charcoal: #6a6969;
$color--shadow: #999999;
$color--light-shadow: #E6E5E5;
$color--mist: #F6F5F5;
$color--white: #fff;

$color--baby-blue: #F4F7FA;
$color--ocean: #5495CE;
$color--sapphire: #448ccb;
$color--matte-blue: #298BB8;
$color--deep-sea: #1A86B3;
$color--nightfall-blue: #316281;

$color--matte-ruby: #EF413A;

$color--emerald: #6cbf68;


// Z-indices
$z-index--alert: 100;