.alert {
	position: absolute;
	top: 0;
	left: 0;
	z-index: $z-index--alert;
	width: 100%;
	font-size: 0.8rem;
	padding: 0.2rem 1rem;
	text-align: center;

	&__close {
		@include alignVertical();
		left: auto;
		right: 1.2rem;
		cursor: pointer;

		&:before {
			content: "x";
			font-weight: bold;
			color: rgba(0,0,0,0.4);
			text-shadow: 1px 1px 0 rgba(255,255,255,0.1);
		}
	}

	&--error {
		color: rgba(255,255,255,0.75);
		background-color: $color--matte-ruby;
	}

	&--success {
		color: rgba(255,255,255,0.75);
		background-color: $color--emerald;
	}
}